services:
  - type: web
    name: sme-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    plan: free
    envVars:
      - key: PORT
        value: 8000
      - key: ENVIRONMENT
        value: production